/* Basic Normalize */
section{
	display: block;
}
body{
	margin:0;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; 
}
[hidden],
template {
  display: none;
}

/* Default Styles */

body{
	background:#ccc;
}
#cc_wrapper{
	margin:100px auto 0 auto;
	width:600px;
	min-height:450px;
	position: relative;
	resize:both;
	border-radius: 4px;
	background: #000;

	-webkit-transition: all .6s ease;
	-o-transition: all .6s ease;
	transition: all .6s ease;

	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
	z-index: 1;
}
video {
  width: 100%    !important;
  height: auto   !important;
}
img{
	max-width: 100%;
}
figure.wrap_video { 
	display: block; 
	background: #111; 
	padding: 5px; 
	margin: 0 
}
dl{
	margin:0;
}
dt{
	color:#fff;
	font-family: arial;
	padding: 10px 20px;
	border-bottom: 1px solid rgba(255,255,255,0.12);
	cursor: pointer;
	display: block
}
dt span.fa{
	color: #666;
	margin-right: 10px;
}
dd{
	display: none;
	color:#333;
	font-family: arial;
	padding:20px;
}
dd.active{
	display: block;

}

.cf:before,
.cf:after {
    content: " "; 
    display: table; 
}

.cf:after {
    clear: both;
}


/* Make it Filp */
#cc_wrapper{
	-webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
}

.flipthis{
	-webkit-transition: all 0.6s;
	-o-transition: all 0.6s;
	transition: all 0.6s;

	-moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
	position:relative;

	z-index: 10;
}
.front, .back{
	-webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;

    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;

	position:absolute;
	top:0;
	left:0;
	box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
	border-radius: 4px;
	width:100%;
	min-height:450px;
}
.back{
	background-color: #000;
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);

	z-index: 2;
	
}
.flip .flipthis{
	-webkit-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	transform: rotateY(180deg);

}
.front{
	z-index:20;
	background: #000;
}
.actions{
	margin-left: 5px;
}
.actions a{
	color:rgba(255,255,255,0.25);
	font-family: arial;
	font-size: .8em;
	display: inline-block;
	padding: 5px;
	text-decoration: none;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.actions a:hover{
	color:rgba(255,255,255,0.5);
}
.actions a:hover span, a.flipTrigger:hover{
	color:#febe10;
}
.actions span.fa{
	margin-right:5px;
}

.front header, .back header{
	padding-bottom: 10px;
	position:relative;
}
img.branding{
	float:left;
	margin:20px 20px 10px 20px;
}
.front h1, .back h1{
	color:#fff;
	font-family: arial;
	font-weight: 300;
	font-size:1em;
	margin-bottom: 5px;
}
span.air-date{
	color:#666;
	font-size: .8em;
	float:left;
	font-family: arial;
}
a.flipTrigger{
	color: rgba(255,255,255,0.25);
	position: absolute;
	right:20px;
	top:20px;
}

.gi{
	margin:0;
	padding: 0;
}
.gi li{
	list-style-type: none;
	padding:5px 0; 
	color:#fff;
}
.gi li span{
	font-weight: 600;
	color:#669274;
}

/* Transcript */
.tr-wrap{
	width:20px;
	position: absolute;
	height: 100px;
	right:-20px;
	background: #000;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-left:1px solid rgba(0,0,0,0.12);
	z-index: -1;

	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;

	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
}
.transcript-link{
	display: block;
	padding: 20px 0;
	position: relative;
	text-decoration: none;
	color:#666;
	font-family: arial;
	font-size:.8em;


	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;

	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}
.transcript-link:hover{
	color:#aaa;
}
.tr-wrap.opened{
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;

	-webkit-transform: translateX(-40px);
	-ms-transform: translateX(-40px);
	-o-transform: translateX(-40px);
	transform: translateX(-40px);
}


.transcript{
	width:400px;
	position: absolute;
	height:450px;
	right:-390px;
	background: #000;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	-webkit-transition: all .6s ease;
	-o-transition: all .6s ease;
	transition: all .6s ease;

	-webkit-transform: translateX(-390px);
	-ms-transform: translateX(-390px);
	-o-transform: translateX(-390px);
	transform: translateX(-390px);

	z-index: -1;
}
.mask{
	width:100%;
	height:100%;
	position:absolute;
	z-index: 1;
	background:#000;
}
#transcript .inner-wrapper{
	overflow-y: scroll;
	background: #fff;
	padding:20px;
	margin: 10px;
	height: 85%; 
	-webkit-transition: all .6s ease;
	-o-transition: all .6s ease;
	transition: all .6s ease;
}

.transcript.slide-out{
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);

	-webkit-transition: all .6s ease;
	-o-transition: all .6s ease;
	transition: all .6s ease;

	z-index: -1;
}
#close-transcript{
	display: none;
	width: 20px;
	height:20px;
	text-align: center;
	line-height: 20px;
	color:#fff;
	font-family: arial;
	text-decoration: none;
	font-weight: 300;
	background: #f00;
	position: absolute;
	border-radius: 50%;
	right:-5px;
	top:-5px;
	z-index: 5;
	cursor: pointer;
}
#bottom-panel{
	position: absolute;
	bottom:-80px;
	background: #000;
	width: 100%;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	z-index: -1;

	-webkit-transition: all .6s ease;
	-o-transition: all .6s ease;
	transition: all .6s ease;

	-webkit-transform: translateY(-100px);
	-ms-transform: translateY(-100px);
	-o-transform: translateY(-100px);
	transform: translateY(-100px);
}
#bottom-panel.slide-down{
	-webkit-transition: all .6s ease;
	-o-transition: all .6s ease;
	transition: all .6s ease;

	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
}
.share-this{
	padding:20px;
}
.social-icons a{
	margin-right:10px;
	color:#666;
	display: inline-block;
	padding:5px;
	border-radius: 4px;
}
@media screen and (max-width:780px){
	#cc_wrapper{
		width:98%;
	}
}
